{{define "title"}}Comment posted{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/feeds">Feeds</a> | <a href="/feeds/{{.feed.id}}">{{.feed.name}}</a> | Comment posted

<p>Your comment has been posted. You may now <a href="/feeds">return</a>.</p>

{{template "foot" .}}
