{{define "title"}}Reaction recorded{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/feeds">Feeds</a> | <a href="/feeds/{{.feed.id}}">{{.feed.name}}</a> | Reaction recorded

<p>Your reaction has been recorded. You may now <a href="/feeds">return</a>.</p>

{{template "foot" .}}
