{{define "title"}}New post{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/feeds">Feeds</a> | New post

<form method="post" enctype="multipart/form-data" action="/feeds/post/create">
    <select name="feed">{{range .feeds}}<option value="{{.id}}" {{if eq $.current .id}}selected{{end}}>{{.name}}</option>{{end}}</select><br/>
	<textarea name="body" rows="20" cols="100" placeholder="Enter post, markdown is allowed"></textarea><br/>
	<input type="file" name="files" multiple><br/>
    <input type="submit" value="Post"/>
</form>

{{template "foot" .}}
