{{define "title"}}New feed{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/feeds">Feeds</a> | New

<p>
<form action="/feeds/create">
    <label for="name">Feed name:</label>
    <input type="text" name="name" value="{{.name}}"/><br/>
  	<label for="privacy">Allow anyone to search for feed:</label>
	<select name="privacy" id="privacy">
		<option value="public">Yes</option>
		<option value="private">No</option>
	</select><br/>
  <input type="submit" value="Create"/>
</form>
</p>

{{template "foot" .}}
