{{define "title"}}Search for feeds{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/feeds">Feeds</a> | Feeds found</p>

{{if len .}}<p>Click on a feed to subscribe:</p>

<p>{{range .}}<a href="/feeds/{{.ID}}/subscribe">{{.Name}}</a>, fingerprint {{.Fingerprint}}<br/>{{end}}</p>
{{else}}<p>No matches found.</p>{{end}}

{{template "foot" .}}
