{{define "title"}}Unsubscribed from feed{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/feeds">Feeds</a> | Unsubscribed from feed</p>

<p>You are no longer subscribed to this feed. You may now <a href="/feeds">return</a>.</p>

{{template "foot" .}}
